.mail-folders {
    grid-row: 2;
    grid-column: 1;
    list-style-type: none;
    
    background-color: #f5f5f5;
}

.folder-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.folder-item:hover {
    background-color: #e0e0e0;
}

.folder-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}

.folder-count {
    display: inline-block;
}

.folder-name {
    font-weight: bold;
}

.folder-item.active {
    background-color: #e0e0e0;
}