/* Container for the search bar */

.mail-filter {
    align-self: center;
}

.mail-filter .search-container {
    position: relative;
    display: inline-block;
    width: 300px;
}

/* Input field */
.mail-filter .search-input {
    width: 100%;
    padding: 1rem 10px 1rem 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Search icon */
.mail-filter .search-icon {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.search-icon::before {
    font-family: Awesome;
    content: '\f002';
}

/* Focus style */
.mail-filter .search-input:focus {
    outline: none;
    box-shadow: 0 0 3px #6cb6f1;
}