.mail-preview {
    max-height: 2.5rem;
}

.expanded-list-item {

}


.fa {
    font-family: Awesome;
    color: rgb(65, 63, 63);
}

.mail-preview button.fa {
    /* background-color: blue; */
    background-color: inherit;
    border: none;
    border-radius: 50%;
    width: 1.875rem;
    height: 1.875rem;
}

button.fa:hover {
    background-color: lightgrey;
    cursor: pointer;
    color: black;
}

.mail-preview .fa {
    opacity: 0.7;
}

.mail-preview .fa:hover {
    opacity: 1;
}

.mail-preview .fa-sticky-note {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

.fa-expand::before {
    content: '\f065'; 
}

.fa-envelope-close::before {
    content: "\f0e0";
}

.fa-envelope-open::before {
    content: "\f2b6";
}

.fa-trash:before {
    content: '\f1f8';
}

.fa-archive:before {
    content: '\f187';
}

.fa-magnifying-glass::before {
    content: '\f002';

}