/* mail list */


/* Styles for the mail list table */
.mail-list {
    width: 100%;
    border-collapse: collapse;
    align-self: start;
}

/* Styles for the mail preview table row */
.mail-list tr {
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
}

.mail-list tr:hover {
    background-color: #f5f5f5;
}

/* Styles for the mail preview content cells */
.mail-list td {
    padding: 10px;
}

.mail-list .sender {
    font-weight: normal;
}

.mail-list .subject {
    color: #777;
    display: flex;
    justify-content: flex-start;
}

.mail-list .subject span {
    font-weight: normal;
}

.subject-separator {
    margin-inline: 0.5rem;
}

.mail-list .timestamp {
    font-size: 12px;
    color: #999;
}

/* Styles for unread mail */
.mail-list tr.unread {
    font-weight: bold;
}

.mail-list tr.unread .sender {
    font-weight: bold;
}

.mail-list tr.unread .subject span {
    font-weight: bold;
}

.mail-list tr.unread .subject {
    color: #000;
    font-weight: bold;
}




@media screen and (min-width: 480px) {
    .mail-list {
        grid-column: 2;
        grid-row: 2;
    }
}