/* Container for the search bar */

.mail-filter {
    align-self: center;
    grid-column: 1/-1;
    grid-row: 1;
    /* edited */
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-filter .search-container {
    position: relative;
    display: inline-block;
}

.mail-filter form {
    /* edited */
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Input field */
.mail-filter .search-input {
    width: 100%;
    padding: 1rem 10px 1rem 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

/* Search icon */
.mail-filter .search-icon {
    position: absolute;
    top: 50%;
    left: 0.625rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.search-icon::before {
    font-family: Awesome;
    content: '\f002';
}

/* Focus style */
.mail-filter .search-input:focus {
    outline: none;
    box-shadow: 0 0 3px #6cb6f1;
}



@media screen and (min-width: 480px) {
    .mail-filter {
        grid-row: 1;
        grid-column: 2;
        width: 50vw;
        max-width: 650px;
        justify-self: start;
        display: block;
    }

    .search-container {
        width: 100%;
    }

    .mail-filter form {
        width: 100%;
    }
}