.add-note-section {
  grid-area: add-note-section;
  justify-self: center;
  font-family: Roboto;
  max-width: 33em;
  min-width: 30em;
  width: 100%;

  height: max-content;
}
.add-note-section input {
  all: unset;
}

.add-note-section textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.add-note-section textarea[placeholder] {
  font-family: Roboto;
}
.note-input {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  height: max-content;
  box-shadow: 0 0 12px rgb(141, 147, 154);
  border-radius: 13px;
  overflow: hidden;
}

.placeholder {
  /* flex-grow: 1; */
  padding: 14px;
}

.note-type-selection-container {
  display: flex;
  margin-inline-end: 0.6em;
  justify-content: space-evenly;
  gap: 5px;
}

/* .note-input {
  flex-grow: 1;
  padding: 14px;
  font-family: Roboto;
} */

.add-note-btn {
  font-family: Roboto;
  background-color: transparent;
  aspect-ratio: 1/1;
  padding: 0.9em;
  height: 0.7em;
  width: 0.7em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  border: none;
  /* border-radius: 50%; */
}

.add-note-btn:hover {
  opacity: 0.87;
  /* transition: 0.7s; */

  background-color: rgba(95, 99, 104, 0.157);
  /* padding: 0.9em;
  height: 0.9em;
  width: 0.9em; */
  /* border-radius: 100%; */
}

.todo-done-btn {
  background-image: url(../../../../img/keep/todo-done.svg);
}

.add-img-btn {
  background-image: url(../../../../img/keep/add-image.svg);
}

.add-vid-btn {
  background-image: url(../../../../img/keep/add-video.svg);
}

/* adding note type styles */

/* txt note  */
.note-txt-input {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 12px rgb(141, 147, 154);
  box-shadow: 0 0 12px rgb(141, 147, 154);
  border-radius: 13px;
  font-size: 1.5rem;
  align-items: start;
}
.note-txt-input * {
  margin-inline-start: 2rem;
}

.note-txt-input button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  /* transition: all 0.25s ease-in-out; */
}

.note-txt-input button:focus,
.note-txt-input button:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.134);
  background-color: rgba(95, 99, 104, 0.157);
  border-radius: 0.7rem;
}
