.add-note-section {
  grid-area: add-note-section;
  justify-self: center;
  background-color: white;
  display: flex;
  width: 90%;
  max-width: 33em;
  min-width: 15em;
  height: max-content;
}
/* add note btns */

.add-note-btn {
  font-family: Roboto;
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
}
.todo-done-btn {
  background-image: url(../../../../img/keep/todo-done.svg);
}

.add-img-btn {
  background-image: url(../../../../img/keep/add-image.svg);
}

.add-vid-btn {
  background-image: url(../../../../img/keep/add-video.svg);
}
