/* note list */

.notes-list {
  column-count: 4;
  column-gap: 1rem;
  padding: 9px;
  /* column-width: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  column-gap: 1.25rem;
  overflow-x: hidden;
  height: 100dvh;
  width: 50rem; */
}
