.main-layout {
    display: grid;
    grid-template-columns: 100%;
}

.app.main-layout {
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.main-layout>* {
    /* grid-column: 2; */
}

.main-layout .full {
    grid-column: 1/-1;
}

