.user-msg {
    background-color: lightgray;
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #f8f8f8;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 0.875rem;
    color: #333;
    z-index: 9999;
}

.user-msg.success {
    background-color: #5cb85c;
    color: #fff;
}

.user-msg.error {
    background-color: #d9534f;
    color: #fff;
}


.user-msg button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    font-size: 1rem;
    color: #999;
    cursor: pointer;
}

.user-msg button:hover {
    color: #333;
}